html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f8efe8;
}

.wrapper {
  height: 100vh;
  max-width: 1200px;
  display: grid;
  place-content: center;
}

section {
  width: 700px;
  height: 350px;
  display: grid;
  grid-template-areas:
    "left header header"
    "left footer footer";
  gap: 2rem;
  grid-template-columns: 213px repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
img {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
}
.left-col {
  grid-area: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  border-radius: 0.5em;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 1.4rem;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}

.footer {
  grid-area: footer;
  background-color: #e5dad0;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

.footer h3 {
  font-weight: bold;
}
